@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
  list-style: none;
  box-sizing: border-box;
}

:root{
  --color-check: oklch(85.2% 0.199 91.936);
}


@theme {
--color-yellow-primary: #fbf1a4;
--color-yellow-secondary: #F2D974;
--color-yellow-tertiary: #E6B325;
--color-yellow-premium: oklch(85.2% 0.199 91.936);

--color-brown-primary: #91684A;
--color-brown-secondary: #493323;
--color-brown-tertiary: #2e221f;

--color-neutral-primary: #fffff3;

--color-danger-primary: #fb2c36;
--color-danger-secondary: #cb000a;



  --font-manrope: "Inter", sans-serif;


  --shadow-custom: 0px 0px 4px #2e221f ;

}

.drawer-btn {
  @apply mb-2 border-b-2 border-brown-secondary p-2 hover:text-yellow-tertiary hover:border-yellow-tertiary hover:bg-brown-tertiary hover:rounded-sm transition-all duration-200 ease-in-out;
}

.nav-btn {
  @apply ml-2 mr-2 p-1 pr-3 pl-3 hover:text-yellow-tertiary hover:bg-brown-tertiary hover:rounded-sm transition-all duration-200 ease-in-out hover:shadow-[0_0_3px_#E6B325];
}

.hover-common{
  @apply hover:shadow-custom transition-all duration-200 ease-in-out
}

.shadow-common{
  @apply  border border-gray-200 shadow-lg
}

.cloth-card-btn{
  @apply w-[100px] h-[40px] flex justify-center text-[15px] rounded text-neutral-primary
}

.cloth-detail-btn{
  @apply w-[49%] flex justify-center items-center h-[40px] rounded-sm text-neutral-primary
}

.customize-m-in-main-div{
  @apply flex flex-col m-3
}

.customize-m-in-label{
  @apply   px-1 text-sm font-medium  text-brown-primary 
}

.post-sort-main{
  @apply p-2 rounded border-2 border-brown-secondary flex justify-self-end items-center hover:bg-brown-secondary
}



@keyframes scrub {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }  
}

