@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
  scrollbar-width: none;
  list-style: none;
  box-sizing: border-box;
}



@theme {
--color-yellow-primary: #fbf1a4;
--color-yellow-secondary: #F2D974;
--color-yellow-tertiary: #E6B325;

--color-brown-primary: #91684A;
--color-brown-secondary: #493323;
--color-brown-tertiary: #2e221f;

--color-neutral-primary: #fffff3;


  --font-manrope: "Inter", sans-serif;


  --shadow-custom: 0px 0px 4px #2e221f ;
}

.drawer-btn {
  @apply mb-2 border-b-2 border-brown-secondary p-2 hover:text-yellow-tertiary hover:border-yellow-tertiary hover:bg-brown-tertiary hover:rounded-sm transition-all duration-200 ease-in-out;
}

.nav-btn {
  @apply ml-2 mr-2 p-1 pr-3 pl-3 hover:text-yellow-tertiary hover:bg-brown-tertiary hover:rounded-sm transition-all duration-200 ease-in-out hover:shadow-[0_0_3px_#E6B325];
}



@keyframes scrub {
  0% {
    transform: scaleX(0);
    transform-origin: right;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
